In [1]:
import pandas as pd
from os import path


folder = "data/151507"
tissue = pd.read_csv(folder+"/"+"tissue_positions_list.txt",header=None)
tissue.head()

                    0  1  2  3     4     5
0  ACGCCTGACACGCGCT-1  0  0  0  2510  2174
1  TACCGATCCAACACTT-1  0  1  1  2630  2243
2  ATTAAAGCGGACGAGC-1  0  0  2  2511  2312
3  GATAAGGGACGATTAG-1  0  1  3  2631  2381
4  GTGCAAATCACCAATA-1  0  0  4  2511  2450

In [2]:
tissue[5].max(), tissue[5].min()

(np.int64(10917), np.int64(2148))

## Parallel Range detection

In [9]:
def tissue_pos_samples(parent:str, samples:list):
    for sample in samples:
        yield path.join(parent,sample,"tissue_positions_list.txt")
def read_data(path:str):
    return pd.read_csv(path,header=None)

In [10]:
from multiprocessing import Pool
samples = list(tissue_pos_samples(
    "data/",
    [
        "151507",
        "151508", 
        "151509", 
        "151510", 
        "151669", 
        "151670", 
        "151671", 
        "151672", 
        "151673", 
        "151674", 
        "151675", 
        "151676"
    ]
))
with Pool(5) as p:
    tissues = p.map(read_data,samples)
print(tissues[0].head())

                    0  1  2  3     4     5
0  ACGCCTGACACGCGCT-1  0  0  0  2510  2174
1  TACCGATCCAACACTT-1  0  1  1  2630  2243
2  ATTAAAGCGGACGAGC-1  0  0  2  2511  2312
3  GATAAGGGACGATTAG-1  0  1  3  2631  2381
4  GTGCAAATCACCAATA-1  0  0  4  2511  2450

In [19]:
for sample,tissue in zip(samples,tissues):
    print(f"{sample}: column range {tissue[5].max() - tissue[5].min()}")
    print(f"{sample}: row range {tissue[4].max() -tissue[4].min()}")

    print(f"Unique values: {tissue[5].unique().shape[0]} / {tissue[5].shape[0]}")
    print()

data/151507/tissue_positions_list.txt: column range 8769
data/151507/tissue_positions_list.txt: row range 9249
Unique values: 3562 / 4992

data/151508/tissue_positions_list.txt: column range 8770
data/151508/tissue_positions_list.txt: row range 9251
Unique values: 3832 / 4992

data/151509/tissue_positions_list.txt: column range 8827
data/151509/tissue_positions_list.txt: row range 9311
Unique values: 857 / 4992

data/151510/tissue_positions_list.txt: column range 8858
data/151510/tissue_positions_list.txt: row range 9339
Unique values: 4897 / 4992

data/151669/tissue_positions_list.txt: column range 8761
data/151669/tissue_positions_list.txt: row range 9242
Unique values: 2583 / 4992

data/151670/tissue_positions_list.txt: column range 8763
data/151670/tissue_positions_list.txt: row range 9243
Unique values: 2932 / 4992

data/151671/tissue_positions_list.txt: column range 8762
data/151671/tissue_positions_list.txt: row range 9242
Unique values: 2532 / 4992

data/151672/tissue_positions_list.txt: column range 8763
data/151672/tissue_positions_list.txt: row range 9243
Unique values: 2923 / 4992

data/151673/tissue_positions_list.txt: column range 8810
data/151673/tissue_positions_list.txt: row range 9288
Unique values: 4992 / 4992

data/151674/tissue_positions_list.txt: column range 8810
data/151674/tissue_positions_list.txt: row range 9288
Unique values: 4943 / 4992

data/151675/tissue_positions_list.txt: column range 8809
data/151675/tissue_positions_list.txt: row range 9288
Unique values: 4992 / 4992

data/151676/tissue_positions_list.txt: column range 8811
data/151676/tissue_positions_list.txt: row range 9290
Unique values: 4956 / 4992